
@import "../../plugins/element-plus/element-variables.scss";
.bg-primary{
  background-color : $--color-primary;
}
.bg-info{
  background-color : $--color-info;
}
.bg-success{
  background-color : $--color-success;
}
.bg-warning{
  background-color : $--color-warning;
}
.bg-error{
  background-color : $--color-danger;
}
.bg-primary, .bg-info, .bg-success, .bg-warning, .bg-error{
  color: #fff;
}
